name: arb-bot-infra
services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    volumes:
      - ./grafana/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus_data:/prometheus
    network_mode: host

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: unless-stopped
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - ./grafana/dashboards:/var/lib/grafana/dashboards:ro
      - ./grafana/provisioning/dashboard.yml:/etc/grafana/provisioning/dashboards/bot.yml:ro
      - ./grafana/provisioning/datasource.yml:/etc/grafana/provisioning/datasources/prometheus.yml:ro
      - grafana_data:/var/lib/grafana
    depends_on:
      - prometheus
    network_mode: host


volumes:
  prometheus_data:
    driver: local
  grafana_data:
    driver: local
